@{
    ViewBag.Title = "AboutUs";
}
<div class="content_wrap">
    <h1>Over Ons</h1>
    IntoSport is een gerenommeerde sportzaak in het Centrum van Groningen.  Sinds 1978 zijn zij een begrip in de provincie. De kernwaarden van de winkel zijn klantvriendelijkheid, expertise en maatwerk. 
</div>