@model List<Webshop_gr02.Models.GoldMember>

@{
    ViewBag.Title = "GoldMemberOverzicht";
}

<div class="content_wrap"> 
   <h2>Goldmember Overzicht</h2>
    


            <table class="table">
        <thead>
    	    <tr>
             
        	    <th>Percentage</th>
                <th>Minimum bedrag</th>
                 <th>Wijzigen</th>
                  
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr> 
                 
                    <td>@Model[i].percentage%</td>
                    <td>@Model[i].min_bedrag </td>
                    
                    <td>@Html.ActionLink("Wijzig", "WijzigGoldMember", new { ID_GM = @Model[i].ID_GM})</td>
                </tr>
            }
        </tbody>
    </table>
</div>
