@using Webshop_gr02.Models;
@model Webshop_gr02.Models.Product
@{
    ViewBag.Title = "Cart";
}

@{
    //List<Product> productList = new List<Product>();
    var sessionlist = Session["cart"] as List<Product>;
}

<div class="content_wrap">

    <h2>Cart</h2>

    <table>
        <tr width="100%">
            <th width="43%">Product id</th>
            <th width="43%">Naam</th>
            <th width="43%">Prijs</th>
        </tr>

        @{
            for (int i = 0; i < sessionlist.Count(); i++ ){
                <tr>
                    <td>@sessionlist[i].ID_P</td>
                    <td>@sessionlist[i].naam</td>
                    <td>@sessionlist[i].productType.VerkoopPrijs</td>
                </tr>
            }
        }

    </table>
    <br />
    <br />
    @Html.ActionLink("Ga verder met winkelen", "Index", "Home", new{}, new{ @class = "btn btn-primary" })
</div>


