@model Webshop_gr02.ViewModels.ProductTypeAanbiedingen
@{
    ViewBag.Title = "PromotieToevoegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="content_wrap">
    <h2>PromotieToevoegen</h2>

    @using (Html.BeginForm("PromotieToevoegen", "Promotie", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            Select Image
        <ul>


            @Html.TextBoxFor(model => model.ProductType.ImagePath, new { type = "file", Name = "file" })
            <li>
                <input type="submit" value="Upload Image" name="Command" /></li>
        </ul>


        </div>
        <div>
            @ViewBag.Message
        </div>
    }

</div>
