@{
    ViewBag.Title = "Gold";
}
<h1>Goud</h1>
<p>
    <img src="/Content/images/gold.jpg" alt="GOLD"/>
</p>
<p>

<p>
@if (User.IsInRole("SILVER")) {
   @Html.ActionLink("Zilveren medaille", "Silver", "Home")
}
</p>
<p>
@if (User.IsInRole("BRONZE")) {
   @Html.ActionLink("Bronzen medaille", "Bronze", "Home")
}
</p>
