@{
    ViewBag.Title = "Platina";
}

<h1>Platina</h1>

<p>
<img src="/Content/images/bronze.jpg" alt="Brons"/>
<img src="/Content/images/silver.jpg" alt="Brons"/>
<img src="/Content/images/gold.jpg" alt="Brons"/>
</p>


