@{
    ViewBag.Title = "ManagerHomepage";
}



<div class="content-wrap">
    <h1 id="ManagerHomepage">Manager Homepage</h1>
    <div class="buttons">
            <a href="MeestVerkocht">
                <div class="buttonManager button_left">
                    Meest verkochte producten
                </div>
            </a>
            <a href="MinstVerkocht">
                <div class="buttonManager button_middle">
                    Minst verkochte producten
                </div>
            </a>
            <a href="OmzetMonthly">
                <div class="buttonManager button_right">
                    Maandelijkse omzet
                </div>
            </a>
    </div>
</div>