@{
    ViewBag.Title = "ManagerHomepage";
}

<div class="content_wrap">
    <h1 id="ManagerHomepage">Manager Homepage</h1>
    <div class="buttons">
        <a href="MeestVerkocht">
            <div class = "btn btn-primary" ">
                Meest verkochte producten
            </div>
        </a>
        <a href="MinstVerkocht">
            <div class = "btn btn-primary" >
                Minst verkochte producten
            </div>
        </a>
        <a href="OmzetMonthly">
            <div class = "btn btn-primary" >
                Maandelijkse omzet
            </div>
        </a>
    </div>
</div>