@model List<Webshop_gr02.Models.Product>
@{
    ViewBag.Title = "MeestVerkocht";
}

<div class="content_wrap">
    <br>
         <h2>Meest verkochte producten</h2>

     @{
        var grid = new WebGrid(Model, defaultSort: "Name");
    }
    @grid.GetHtml()
        
    </div>
    
    