@model List<Webshop_gr02.Models.Product>
@{
    ViewBag.Title = "MinstVerkocht";
}


<div class="table_wrap">
    <br>
        <h2>Minst verkochte producten</h2>
  @{
        var grid = new WebGrid(Model, defaultSort: "Name");
    }
    @grid.GetHtml()
    </div>

