@{
    ViewBag.Title = "Index";
    Layout = "";
}

<h2>Session example</h2>

@if (ViewBag.DatumLaatsteKeer != null)
{
   <p>Hallo, de laatste keer dat deze pagina bezocht was: @ViewBag.DatumLaatsteKeer</p>
}
else
{
   <p>Hallo, je bent voor het eerst op deze pagina.</p>
}

