body {
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.link_green {
    color: #4BB84B;
}

.link_green:hover {
    color: #1d7200;
}

ul {
    list-style: none;
}

.contentToevoegen ul li {
    padding: 10px;
}

.page-wrap {
    position: relative;
    width: 880px;
    margin: 0 auto;
    min-height: 100%;
    /* equal to footer height */
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#header_wrap {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    position: relative;
    background-color: white;
    width: 100%;
    height: 115px;
    margin-top: 0px;
    z-index: 999;
    left: 0px;
    -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 1);
    -moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 1);
    box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.3);
    margin-top: -8px;
}

#header_content {
    position: relative;
    width: 960px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#logoz_zonder_tekst {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-top: 68px;
    margin-left: 15px;
    float: left;
}

#nav {
    float: left;
    font-family: arial, sans-serif;
    font-weight: bold;
    position: relative;
    width: 600px;
    height: 56px;
    font-size: 14px;
    color: #999;
    margin-left: 57px;
    margin-top: 55px;
}

#nav ul li {
    float: left;
    position: relative;
}

#nav ul li a {
    text-align: center;
    padding: 20px;
    display: block;
    text-decoration: none;
    color: black;
}

#nav li:hover {
    background-color: rgba(0,156,0,0.7);
    -webkit-border-top-left-radius: 12px;
    -webkit-border-top-right-radius: 12px;
    -moz-border-radius-topleft: 12px;
    -moz-border-radius-topright: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#nav a:hover {
    color: white;
}

#nav ul li ul {
    display: none;
}

#nav ul li:hover ul {
    display: block;
    position: absolute;
    margin-left: -40px;
    width: 60px;
}

#nav ul li:hover ul li a {
    display: block;
    color: #0093d6;
    background-color: rgba(0,156,0,0.7);
    color: #ffffff;
    width: 150px;
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
    border-right: none;
}

#nav ul li:hover ul li a:hover {
    background: #1d7200;
    color: white;
}

.content_wrap {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 10;
    /* padding-top: 266px; */
    padding-bottom: 30px;
}

#footer_wrap {
    color: #1d7200;
	position: relative;
	width: 880px;
	margin-left: auto;
	margin-right: auto;
	left: 3px;
	padding: 0;
	margin-top: 0px; /* negative value of footer height */
	height: 35px;
	clear:both;
}

#footer_wrap a {
    color: #1d7200!important;
}

#footer_wrap a:hover {
    color: #4BB84B!important;
}

#footer_wrap hr {
    background-color: #4BB84B;
    height:2px;
}


/*************************************************************
*****
***** MANAGER PAGES STYLE
*****
*************************************************************/

.table_wrap {
    padding: 0 50px;
}

.table_wrap .table_content {
    border: 1px solid black;
}

.table_wrap .table_content .table_left {
    border-right: 1px solid black;
    float: left;
    width: 250px;
}

.table_wrap .table_content .table_middle {
    border-right: 1px solid black;
    float: left;
    width: 175px;
}

.table_wrap .table_content .row {
    border-bottom: 1px solid black;
}

td {
    border-bottom: 1px solid rgba(0,156,0,0.7)!important;
    border-top: 1px solid rgba(0,156,0,0.7)!important;
}

th {
    border-bottom: 1px solid rgba(0,156,0,0.7)!important;
}


td a {
    color:green;
}

td a:hover {
    color:#337ab7;
}
.dropdown_month {
    float: right;
    margin-right: 50px;
}

#collumproduct {
    height: 552px;
    background-color: rgba(0,156,0,0.7);
}


#collumproduct:hover {
    background-color: #EFEFEF;
}

#productImage {
    height: 200px;
    width: 100%;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd!important;
    padding: 0 1.4em 1.4em 1.4em!important;
    margin: 0 0 1.5em 0!important;
}

legend {
    font-size: 1.2em!important;
    font-weight: bold!important;
    border-bottom: 0px solid #e5e5e5!important;
}

textarea {
    min-height: 112px;
    width: 313px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

.editor-area {
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Style for MeestVerkocht
------------------------------------------------------*/

#titel {
    position: relative;
    top: 25px;
}

div#banner {
    position: relative;
    /*margin: 89px auto;*/
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /*top: 42px;*/
}

#bannerImage {
    width: 100%;
    height: 200px;
}

#TopAndBottom10Table {
    position: relative;
    width: 100%;
    top: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}



#Button {
    padding-top: 20px;
    position: relative;
    /* right: 47px; */
    margin-left: -20px;
    /* padding-right: 23px; */
    padding-left: -16px;
    padding-right: -36px;
}

.bestelbutton {
    float:left;
}

.prijs {
    margin-top: 7px;
}

.nieuwe_prijs {
    font-size:18px;
    margin-left:10px;
    font-weight:bold;
    float:left;
}

.oude_prijs {
    font-size: 13px;
    margin-left:175px;
    text-decoration:line-through;
    padding-top:6px;
}

/* Style fot MinstVerkocht
 ---------------------------------------------------------*/
#ManagerHomepage {
    padding-top: 150px;
}

.buttons {
    width: 100%;
}

.button_left {
    float: left;
}

.button_middle {
    float: left;
    margin-left: 100px;
}

.button_right {
    float: left;
    margin-left: 100px;
}

.buttonManager {
    width: auto;
    background-color: #134a01;
    color: white;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    padding: 10px;
}

.buttonManager:hover {
    background-color: #1d7200;
    text-decoration: underline;
}



/* Styles for Categorieën table
-----------------------------------------------------------*/
/*#table, td, th {
    border: 1px solid #175801;
     width: 80px;
     
}

th {
    background-color:#175801;
    color: white;
     width: 80px;
     
}*/

/*POPUP LOGIN
-----------------------------------------------------------*/

.popup_outside{
	position:fixed;
	left:0px;
	top:0px;
	z-index:99;
	width:100%;
	height: 100%;
	background-color:black;
	visibility:hidden;
	opacity: 0;
	transition: opacity .15s ease-in-out;
	-webkit-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;

}
.popup_inside{
	position: fixed;
	top: 50%;
	left: 50%;
	z-index:100;
	height: 550px;
	margin-top: -255px;
	width: 1200px;
	margin-left: -600px;
	padding:5px;
	background-color:white;
	visibility:hidden;
	opacity:0;
	transition: opacity .15s ease-in-out;
	-webkit-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
}
.popup_inside img{
	width:100%;
	height:100%;
}
.popup_close_button{
	position:fixed;
	width:15px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	z-index:101;
	padding-left:3px;
	background-color:white;
	color:black;
}
.popup_close_button:hover{
	background-color:gray;
	color:white;
	cursor: pointer;
}

.login_popup_inside {
	width: 446px;
	padding: 0 0 0 0;
	height: auto;
	margin: 0 0 0 -233px;
	background-color: #fff;
	position: fixed;
	top: 200px;
	left: 50%;
	z-index:1001;
	-moz-box-shadow: 3px 3px 4px #000; /* Firefox/Mozilla */  
	-webkit-box-shadow: 0px 0px 0px #DDD; /*Safari/Chrome */  
	box-shadow: 0px 0px 10px #555; /* Opera & hoe het zou moeten */  
	  /* Voor IE 8 */  
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";  
	  /* Voor IE 5.5 - 7 */  
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.login_popup_inside .title {
	width: 100%;
	height: auto;
	padding: 3px 30px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	background-color: #4BB84B;
	color: #FFFFFF;
	text-shadow: 0 1px 0 black;
	position: relative;
	float: left;
	font-weight: bold;
}

.login_popup_inside .title .close {
	width: auto;
	height: auto;
	margin: 4px 0 0 0;
	padding: 0px;
	position: relative;
	float: right;
	font-size: 10px;
	font-weight: normal;
}

.login_popup_inside .title .close a,
.login_popup_inside .title .close a:link,
.login_popup_inside .title .close a:active,
.login_popup_inside .title .close a:visited {
	color: #FFF;
	text-decoration: none;
}

.login_popup_inside .title .close:hover {
	text-decoration: underline;
	cursor:pointer;
}

.login_popup_inside .form_all {
	color:black;
	width: 406px;
	height: auto;
	padding: 5px 30px 10px;
	position: relative;
	float: left;
}

.popup_background {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index:1000;
	background: url("../images/bg_modal.png") repeat;
}

#login{
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-transition: all 0.2s ease-in-out 0s;
    background-color: #4BB84B;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #FFFFFF;
    float: right;
    font-size: 12px;
    height: 35px;
    margin-right: 23px;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 185px;
} 

#login_1{
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-transition: all 0.2s ease-in-out 0s;
    background-color: #4BB84B;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #FFFFFF;
    float: right;
    font-size: 12px;
    height: 35px;
    margin-right: 23px;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 185px;
} 

.form_text{
	width: 162px;
	padding-top: 6px;
}

span.form_error{
	font-size:11px;
	padding-top: 6px;
	color:red;
	margin-left:163px;
}

.box{
	float:left;
	width: 100%;
}

.login_button{
	float: left;
	margin-left:-3px;
}

#submit{
	margin-top:10px;

	background-color:#4BB84B;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:0px;
	display:inline-block;
	color:#ffffff;
	padding:6px 20px;
	text-decoration:none;
	font-weight:bold;
}
 
#submit:hover {
	background-color:#1d7200;
	cursor:pointer;
}

#submit:active {
	position:relative;
	top:1px;
}

/*CONTACT PAGE
---------------------------------------------------------------------------*/

#map_canvas{
	height:400px;	/* for the googlemap map on the contact page. */
}

#address_tekst a{
	color:#1d7200;
}

#address_tekst a:hover {
    color:#4BB84B;
}

.user_info_list_right{
	float:left;
	display: inline-block;
	width: 185px;
	word-break: break-all;
	margin-top:5px;
}

.user_info_list_left{
	float: left;
    width: 200px;
	font-weight:bold;
	margin-top: 5px;
    position: relative;
}

.row_last {
    margin-top:20px;
}

.klant_info_list_right{
	float:left;
	display: inline-block;
	width: 185px;
	word-break: break-all;
	margin-top:5px;
}

.klant_info_list_left{
	float: left;
    width: 200px;
	font-weight:bold;
	margin-top: 5px;
    position: relative;
}
