@model List<Webshop_gr02.Models.Categorie>


@{
    Layout = null;
}


     

    <div id="header_wrap">
    <div id="nav">


             @for(int i = 0; i < Model.Count; i++)
            { 
                <ul>
                    <li><a>@Model[i].Naam</a></li>
                </ul>
            }
    </div>
        </div>

  

