@model Webshop_gr02.ViewModels.ProductViewModel
@{
    Layout = null;
}





        <ul>
            <li>@Html.DropDownListFor(model => model.SelectedProductID, Model.Products)</li>

        </ul>




