@model List<Webshop_gr02.Models.Categorie>

@{
    ViewBag.Title = "Overzichtcategorie";
}

<div class="content_wrap"> 
   <h2>Overzichtcategorieën</h2>
<h2></h2>
 @{
     var grid = new WebGrid(Model);
    }
    @grid.GetHtml()

   
</div>
