@model List<Webshop_gr02.Models.Categorie>

@{
    ViewBag.Title = "Overzichtcategorie";
}

<div class="content_wrap"> 
   <h2>Overzichtcategorieën</h2>
<h2></h2>
    <table id="categorie">
        <thead>
            <tr>
                <th>ID</th>
                <th>Naam</th> 
            </tr>
        </thead>
        <tbody>
            @for(int i = 0; i < Model.Count; i++)
            { 
                <tr>
                    <td>@Model[i].ID_C</td>
                    
                    <td>@Model[i].Naam</td>

                </tr>
            }
        </tbody>
        </table>

   
</div>
